@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <div class="columns is-multiline">
        @{
            for (int i = 0; i < 5; i++)
            {


                foreach (var p in Model.Products)
                {

                    <div class="column is-3-desktop is-6 is-mobile">
                        <a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="~/images/1200px-.NET_Core_Logo.svg.png" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <p class="title is-size-5">
                                        @p.Name @p.Value
                                    </p>
                                    <p class="subtitle">
                                        @p.Description
                                    </p>
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                }
            }
        }
    </div>
</div>
@await Component.InvokeAsync("Cart")
